.header-div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid  rgb(214, 219, 221);
    // width: 80vw;
    // margin-left: 20%

    // height: 30vh
    // margin-bottom: 20px;
    // border-style: solid;
    // border-width: 0px 0px 1px 0px;
}

.header-group {
    padding: 8px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 1px;
    margin-right: 10px;
}

#login-signup-header {
    // margin-top: 3px;
}


nav.header-group {
    margin-top: 1px;
}

.header-name {
    padding: 5px;
}

.header-logo {
    margin: 5px;
}

.logo {
    background-image: image-url('logo.png');
    height: 52px;
    width: 158px;
    margin-left: 10px;
    outline: 0;
    border: none;
    // z-index: 100;
}

.logo:focus {
    outline: none;
}

.header-logout {
    background-color: #14aaf5;
    color: white;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: normal;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.header-logout:hover {
    background-color: #008ce3;
}

#login-greeting {
    text-decoration: none;
    color:#646f79;
    font-weight: 500;
    font-family: gordita,Helvetica Neue,Helvetica,sans-serif;
    margin-right: 23px;
    margin-top: 10px;
}

#try-free-greeting {
    // margin-left: 25px;
    // width: 25%;

    background-color: #796eff;
    color: white;
    border-radius: 4px;
    // padding: 8px;
    padding: 8px 15px 8px 15px;
    
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    border: none;
}

#try-free-greeting:hover {
    background-color: #635ac7
}