.home-main-div {
    margin-left: 18.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 10% 2% 10%;
}

#home-image {
    margin-top: 20px;
    background-image: image-url('home-image.png');
    height: 144px;
    width: 305px;

    display: flex;
    justify-content: center;
}

#home-welcome {
    display: flex;
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}

#home-intro {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #848f99;
    font-size: 16px;
    text-align: center;

}