.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  background: white;
  height: 350px;
  max-height: 500px;
  width: 500px;
  padding: 20px;
}

.modal-top-level {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
}


.create-project {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #151b26;
  padding-bottom: 8.5px;
  border-bottom: 1px solid #e0e6e8;
  width: 100%;
  justify-content: center;
  text-align: left;
}

.project-form-label {
  color: #848f99;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  margin: 2% 0% 2% 0%;
}

.project-input {
  border: 1px solid #d5dce0;
  border-radius: 2.5px;
  width: 460px;
  margin: 2% 0% 2% 0%;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 97.5%;
  
}

// .project-input::selection {
//   background: #ACCEF7;
// }

.project-input-name {
  height: 30px;
}

.project-form-container {
  width: 100%;
  padding-top: 16px;
}

.project-name-div {
  margin-bottom: 5px;
}

textarea.project-input {
  height: 120px;
}

.project-input:focus {
  border-color: #9ca6af;
  box-shadow: inset 0 1px #e0e6e8;
  outline: none;  
  -webkit-box-shadow: 0px 0px 5px  #d5dce0;
}

.button-row {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.modal-cancel {
  border: 1px solid #b7bfc6;
  color: #646f79;
  font-size: 13px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 20px;
}

.modal-cancel:hover {
  background: #f6f8f9;
  border: 1px solid #646f79;
}

.create-project-submit {
  border: 1px solid #b7bfc6;
  color: white;
  font-size: 13px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 20px;
  background-color: #14aaf5;
  border: none;
}

.create-project-submit:hover {
  background: #008ce3;
  border-color: #008ce3;
}

.delete-modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  background: white;
  height: 150px;
  max-height: 500px;
  width: 400px;
  padding: 20px;
}

.delete-modal-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#delete-button-row {
  display: flex;
  flex-direction: row;
}

.delete-confirmation-msg {
  padding-top: 12px;
  padding-bottom: 15px;
}

#delete-project-button:hover {
  background: rgb(203, 74, 74);
}