.project-body-top {
    margin-left: 18.5vw;
    height: calc(100vh - 88.22px);
    width: calc(100%-18.5vw);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: #F6F8F9;
}
.project-body-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 90%;
}
