.project-header-div {
    margin-left: 18.5vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    padding-bottom: 9.5px;
    border-bottom: 1px solid lightgrey;
}

.project-header-info {
    margin-left: 2.1%;
    margin-top: 1%;
    display: flex;
}

#project-header-name {
    font-size: 24px;
    font-weight: 500;
}

#project-header-icon {
    background-image: image-url('header-note.png');
    height: 23px;
    width: 23px;
}

#project-header-sub-div {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

#project-header-description {
    margin-top: 5px;
}

#project-show-dropdown {
    padding-top: 40px;
}

.project-header-icon-wrapper {
    height: 64px;
    width: 64px;
    border-radius: 20%;
    background-color: #ffe572;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 20px;
}

#arrow-down {
    background-image: image-url('arrow-down.png');
    height: 16px;
    width: 16px;
    // margin-left: px;
    margin-bottom: 2px;
    margin-top: 5px;
}

// #arrow-down:hover {
    
// }

#project-header-name-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.edit-dropdown-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    border: none;
    margin-left: 20px;
    // border: 2px solid black;
}

.dropdown-project {
    position: absolute;
    fill: white;
    position: absolute;
    // top: 5.2%;
    // left: 89.5%;
    height: auto;
    width: auto;
    // background: none;
    padding: 10px;
    padding: 10px 20px 10px 20px;
}

.dropdown-project:focus, .dropdown-project:active:focus {
    outline: none;
    box-shadow: none;
    border-style: solid;
}