.project-body-top {
    margin-left: 18.5vw;
    height: calc(100vh - 88.22px);
    width: calc(100%-18.5vw);
    // border: 2px solid black;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: #F6F8F9;
}
.project-body-container {
    margin-top: 11.5px;
    height: 98.5%;
    width: 70%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
