.side-bar-top {
    background: #151b26;
    width: 18.5vw;
    height: 100vh;
    position: absolute;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    background-image: image-url('sidebar-logo.png');
    height: 25px;
    width: 125px;
    outline: 0;
}