.side-bar-wrapper {
    min-height: 100%;
    height: 100%;
}

.side-bar-container {
    background: #151b26;
    width: 18.5vw;
    height: 100%;
    position: fixed;
    color: rgb(233, 233, 233);
    display: flex;
    // align-items: center;
    flex-direction: column;
    
    
}

.side-bar-logo {
    background-image: image-url('sidebar-logo.png');
    height: 25px;
    width: 125px;
    outline: 0;
    display: flex;
    align-items: center;
    margin: 25px 5px 25px 19px;
}

.side-bar-contents-container {
    // margin-left: 2%;
    margin-right: 3%;
    width: 100%;
}

.side-bar-home-main {
    display: flex;
    border-bottom: 2px solid #222b37;
    // margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

.side-bar-home-main:hover {
    background: rgba(255,255,255,0.08);
    // border-radius: 5%;
}

.side-bar-home {
    margin: 7px 0px 12px 7.5px;
    font-size: 18px;   
    color: whitesmoke;
    text-decoration: none; 
    
}

.side-bar-home-logo {
    background-image: image-url('home.png');
    height: 32px;
    width: 32px;
    margin-right: 7.5px;
    margin-left: 19px;
}

.marketing-team {
    // padding-bottom: 5px;
    margin-left: 19px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 18px;
}

.sidebar-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}

.sidebar-li {
    // margin-left: 19px;
    // margin-right: 5px;
    // margin-top: 15px;
    // padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 8px;

}

.side-bar-projects {
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.sidebar-li:hover {
    background: rgba(255,255,255,0.08);

}

.marketing-main-div {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#plus-project {
    margin-right: 17.5px;
    color: whitesmoke;
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 34px;
    padding-bottom: 5px;
}

#sidebar-project-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#bullet-icon {
    margin-right: 20px;
    height: 9px;
    width: 9px;
    background-color: greenyellow;
    border-radius: 25%;
}

#sidebar-project-name {

}