.side-bar-wrapper {
    min-height: 100%;
    height: 100%;
}

.side-bar-container {
    background: #151b26;
    width: 18.5vw;
    height: 100%;
    position: fixed;
    color: rgb(233, 233, 233);
    display: flex;
    // align-items: center;
    flex-direction: column;
    
    
}

.side-bar-logo {
    background-image: image-url('sidebar-logo.png');
    height: 25px;
    width: 125px;
    outline: 0;
    display: flex;
    align-items: center;
    margin: 25px 5px 25px 5px;
}

.side-bar-contents-container {
    margin-left: 10%;
    margin-right: 8%;
    width: 80%;
}

.side-bar-home-main {
    display: flex;
    border-bottom: 2px solid #222b37;
    // margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.side-bar-home-main:hover {
    background: rgba(255,255,255,0.08);
    border-radius: 5%;
}

.side-bar-home {
    margin: 7px 0px 12px 0px;
    font-size: 18px;   
    color: whitesmoke;
    text-decoration: none; 
}

.side-bar-home-logo {
    background-image: image-url('home.png');
    height: 32px;
    width: 32px;
    margin-right: 7.5px;
    margin-left: 10px;
}

.marketing-team {
    margin-bottom: 25px;
}