#root {
    height: 100%;
    background: linear-gradient(to top right, rgba(255, 82, 99, 0.9) 10%, rgba(255, 115, 129, 0.9) 65%, rgba(252, 189, 1, 0.9) 125%);
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav.login-signup {
    font-size: 24px;
}

nav.login-signup > a {
    text-decoration: none;
}

.session-label {
    font-size: 13px;
    color: #848f99;
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

label > input.session-input {
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #edf7fb;
    margin: auto;
    width: 100%;
    margin-top: 5px;
    
}

.top-level-div {
    /* height: 44%; */
    height: auto;
    width: 25%;
    background: white;
    border-radius: 0.75%;
    padding: 65px;
    text-align: center;
}

.session-submit-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.session-submit {

    background-color: #14aaf5;
    color: white;
    border-radius: 4px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    
    font-style: normal;
    font-weight: 250;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
}

.session-submit:hover {
    background-color: #008ce3;
}

.login-form {
    text-align: center;
}

#session-submit {
    margin: 0;
    justify-content: flex-end;
    margin-left: auto;
}

#demo-login {
    margin: 0;
}